.certItem{
	margin: 50px 0;
}

a.indexMore:hover{
	color: #fff !important;
}

.mytext{
	margin: 0px 0px 20px 0px;
    padding: 45px 0px 20px 0px;
    background: #fff;
}

.imgTechnicalE img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

/*div.mygrid ul li{
	float: initial;
	padding-left: 0;
	list-style: initial;
}*/

/*div.mygrid ul li:before{
	display: none;
    padding-top: none;

}*/